* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  color: #00252e;
  font-family: "open sans";
}
.first-page {
  background: #ebfbff;
  background-image: url(images/bg-hero-desktop.svg);
  width: 100vw;
  height: 100vh;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.logo-svg {
  height: 40px;
}
.free {
  background: #ffffff;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  font-family: "Poppins";
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  -moz-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
}
.mockups {
  height: 500px;
}
.first-note {
  margin-top: 50px;
  width: 600px;
  padding: 50px;
  color: #00252e;
  font-family: "Poppins", sans-serif;
}
.building {
  font-size: 45px;
  line-height: 1.5;
}
.re-imagines {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
}
.community {
  display: flex;
}
.started {
  background: #ff52bf;
  width: 300px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: small;
  color: #ffffff;
  margin-top: 30px;
}
.second-page {
  width: 100vw;
  height: 100%;
}
.containers {
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  align-items: center;
}
.image {
  height: 250px;
}
.box {
  display: flex;
  width: 1000px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  -moz-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  border-radius: 30px;
  padding: 70px;
}
h4 {
  font-size: 23px;
  font-weight: 800;
  color: #00252e;
  font-family: "Poppins", sans-serif;
}
.note {
  font-size: 18px;
  padding: 40px;
}
.paragraph {
  color: rgba(0, 37, 46, 0.534);
  font-weight: 500;
}
.container-two {
  position: relative;
  margin: -100px;
  left: 500px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  -moz-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  width: 600px;
  height: 200px;
  text-align: center;
  border-radius: 20px;
  padding: 40px;
}
.ready {
  font-size: 30px;
  font-weight: 700;
  font-family: "poppins";
  color: #00252e;
}
.started2 {
  background: #ff52bf;
  padding: 20px;
  border-radius: 30px;
  color: #ffffff;
  margin: 30px;
  -webkit-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  -moz-box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
  box-shadow: 0px 0px 20px -7px rgba(46, 74, 117, 1);
}
footer {
  background: #00252e;
  color: #ffffff;
  width: 100vw;
}
.container-three {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 50px 100px 50px;
  font-family: "Poppins";
  font-size: 18px;
}
.logo-two {
  justify-content: space-between;
  padding: 10px;
  margin: 150px 180px 0;
}
.contact {
  display: flex;
  width: 300px;
}
.icon {
  height: 15px;
  margin-right: 10px;
}
.fab {
  border: 1px solid #ffffff;
  height: 20px;
  width: 20px;
  padding: 5px;
  font-size: 10px;
  border-radius: 10px;
  margin: 5px;
}
small {
  font-size: 13px;
  margin-left: 1000px;
}
/* pseudo element */
*:hover {
  cursor: default;
}
.started,
.started2,
.free:hover {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
  }
  .first-page {
    background: #ebfbff;
    background-image: url(images/bg-hero-mobile.svg);
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  }
  .logo {
    padding: 15px;
  }
  .logo-svg {
    height: 13px;
  }
  .free {
    background: #ffffff;
    width: 80px;
    text-align: center;
    font-size: 10px;
    padding: 3px;
  }
  .community {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mockups {
    height: 300px;
    padding: 20px;
  }
  .building {
    font-size: 24px;
    line-height: 1.5;
  }
  .re-imagines {
    font-size: 15px;
    color: #00252e86;
    font-weight: 700;
    line-height: 1.7;
  }
  .started {
    width: 250px;
  }
  .first-note {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 350px;
    margin: 20px auto;
  }
  .containers {
    margin: 50px auto;
  }
  .note {
    width: 300px;
    padding: 0;
    text-align: center;
  }
  .image {
    height: 200px;
  }
  .paragraph {
    font-size: 20px;
    padding: 10px;
  }
  .container-two {
    width: 350px;
    height: 150px;
    top: 180px;
    left: 30%;
    padding: 25px;
  }
  .ready {
    font-size: 16px;
  }
  .started2 {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
  }
  footer {
    margin-top: 200px;
  }
  .container-three {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 0;
  }
  .logo-two {
    height: 50px;
    padding: 10px;
    margin: 150px 15px 0;
  }
  .contact {
    font-size: 16px;
    letter-spacing: 1.3px;
  }
  .last-flex {
    font-size: 16px;
    letter-spacing: 1.3px;
    margin: 30px 0 0 0;
  }
  .last-flex-two {
    font-size: 16px;
    letter-spacing: 1.3px;
  }
  .fabs {
    align-items: center;
    width: 300px;
    text-align: center;
  }
  .icon {
    height: 20px;
    margin-right: 10px;
  }
  small {
    margin-left: 90px;
    font-size: 10px;
  }
}
